<!--in order to not repeat things, we write the unique thing for our home page here, and the template, the thing that repeat in our base file-->
<!--inherits things that are in base file-->
<!--THIS IS CALLED TEMPLATE INHERITANCE-->
{% extends "tickets_app/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content-section">
          <form method="POST">
              <!--Security token-->
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Log In</legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Login</button>
              </div>
          </form>
          <div class="border-top pt-3">
              <small class="text-muted">Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a></small>
          </div>

      </div>
{% endblock content %}
