{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'users/login_register.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">

    <title>{{ title }}</title>
</head>
<body>
      <div class="register-box">
          <form method="POST">
              <!--Security token-->
              {% csrf_token %}
              {{form.non_field_errors}}
              <fieldset class="form-group">
                    {{form.subject.errors}}
                  <legend class="style-txt">Join today</legend>
                  <!-- {{ form|crispy }} -->
                  <div class="textbox">
                        <i class="fas fa-user" aria-hidden="true"></i>
                        <input type="text"
                               placeholder="Username"
                               name="{{form.username.name}}"
                               id="{{form.username.id_for_label}}" required
                               >
                  </div>
                  <div> 
                      <small class="txt">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
                 </div>
                  <div class="textbox">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                        <input type="email"
                         placeholder="Email"
                         name="sender"
                         id="{{form.sender.id_for_label}}" required
                        >
                  </div>
                  <div class="textbox">
                           <i class="fas fa-lock" aria-hidden="true"></i>
                           <input type="password"
                               placeholder="Password"
                               name="{{form.password.name}}"
                               id="{{form.password.id_for_label}}"
                               >
                  </div>
                  
                  <div><small class="txt">Your password can't be too similar to your other personal information.</small></div>
                  <div><small class="txt">Your password must contain at least 8 characters.</small></div>
                  <div><small class="txt">Your password can't be a commonly used password.</small></div>
                  <div><small class="txt">Your password can't be entirely numeric.</small></div>

                   <div class="textbox">
                           <i class="fas fa-lock" aria-hidden="true"></i>
                           <input type="password"
                               placeholder="Confirm password"
                               name="{{form.password.name}}"
                               id="{{form.password.id_for_label}}2" required
                               >
                  </div>
              </fieldset>
              <div class="form-group">
                  <button class="button" type="submit">Sign Up</button>
              </div>
          </form>
          <div>
              <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a></small>
          </div>
      </div>
</body>
</html>